* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    font-style: normal;
    background-color: #F5F5F5;
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.user {
    display: flex;
    align-items: center;
    &-avatar {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
    &-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
}