* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    font-style: normal;
    background-color: #F5F5F5;
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.user {
    display: flex;
    align-items: center;
    &-avatar {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
    &-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
}
.sidebar {
    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #595959;
        &--margin {
            margin-top: 13px;
        }
    }
    &__see-more {
        margin-left: 12px;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        &--left {
            color: #1890FF;
        }
        &--right {
            color: #0050B3;
        }
    }
}