.content {
    max-width: 588px;
    flex-grow: 1;
    &--margin {
        margin-top: 18px;
    }
    &__create-post {
        background-color: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        overflow: hidden;
        &-header {
            background-color: #F5F5F5;
        }
        &-title {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #595959;
            margin: 0;
            padding: 9px 16px 9px;
        }
        &-body {
            display: flex;
            align-items: flex-start;
            padding: 16px 16px 0;
        }
        &-avatar {
            width: 40px;
            height: 40px;
            margin-right: 16px;
        }
        &-input {
            padding: 8px 5px;
            font-weight: normal;
            word-wrap: break-word;
            overflow-x: hidden;
            font-size: 16px;
            line-height: 24px;
            color: #8C8C8C;
            outline: none;
        }
        &-line {
            margin: 24px 16px 16px;
            background-color: #E8E8E8;;
        }
        &-footer {
            display: flex;
            align-items: center;
            padding: 0 16px 16px;
        }
        &-tag {
            display: flex;
            align-items: center;
            background: #F5F5F5;
            border-radius: 48px;
            border: none;
            padding: 9px 12px;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 8px;
            }
            &-icon {
                margin-right: 8px;
            }
            &-text {
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #595959;
            }
        }
    }
    &__post {
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 16px;
        &--margin {
            margin: 16px 0 0;
        }
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &-user {
            display: flex;
        }
        &-avatar {
            width: 48px;
            height: 48px;
            margin-right: 12px;
        }
        &-information {
            display: flex;
            flex-wrap: wrap;
        }
        &-name {
            width: 100%;
            text-decoration: none;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #0050B3;
        }
        &-info-time {
            display: flex;
            align-items: center;
        }
        &-time {
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #8C8C8C;
            &::after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #BFBFBF;
                margin: 0 6px 0 8px;
            }
        }
        &-functions {
            background-color: #fff;
            border: none;
            cursor: pointer;
        }
        &-body {
            margin: 16px 0 0;
        }
        &-text {
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #595959;
            margin: 0 0 16px;
            &-link {
                color: #096DD9;
                text-decoration: none;
            }
        }
        &-image {
            border: 1px solid #BFBFBF;
            border-radius: 4px;
            max-width: 100%;
        }
        &-likes {
            display: flex;
            align-items: center;
            margin: 9px 0;
            &-counter {
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #595959;
                margin-left: 4px;
            }
        }
        &-line {
            margin: 0 0 16px;
            background-color: #E8E8E8;
        }
        &-footer {
            display: flex;
            justify-content: space-around;
        }
        &-button {
            display: flex;
            align-items: center;
            background-color: #fff;
            border: none;
            cursor: pointer;
            &-text {
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;    
                color: #595959;
                margin-left: 8px;
            }
        }
    }
}